.nfs*
.DS_Store

# compilation and distribution
__pycache__/
images/
.cache/
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# onnx models
*.onnx

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*.npz
*.pth
*.log
*.parquet
*.tar.gz
*.zip
*~


# editor settings
.idea
.vscode
_darcs
.history
runs/

# custom paths
output
dataset/Trig/Trig-text-to-image/docci_descriptions.jsonlines
local_data/
dataset/raw_dataset/image-editing/OmniEdit-Filtered/dev/
dataset/raw_dataset/image-editing/OmniEdit-Filtered/prompt_dev.jsonl
dataset/raw_dataset/subject-driven/Subjects200K-Total/
dataset/raw_dataset/subject-driven/Subjects200K/data/
dataset/raw_dataset/subject-driven/Subjects200K/collection1
dataset/raw_dataset/subject-driven/Subjects200K/collection2
dataset/raw_dataset/subject-driven/Subjects200K/collection1.json
dataset/raw_dataset/subject-driven/Subjects200K/collection2.json
dataset/raw_dataset/image-editing/dev-00000-of-00001.parquet
dataset/Trig/Trig-image-editing/OmniEdit-Filtered/
dataset/Trig/Trig-subject-driven/Subjects200K/
dataset/Trig/Trig-subject-driven/images_right_half/
data/result
data/ssrencoder
hf_cache
dataset/Trig/Trig-image-editing/toxicity_images
dataset/Trig/Trig-subject-driven/toxicity_images
config/eval.yaml
config/gen.yaml

dataset/HEIM/