diffusers>=0.32.0
transformers
huggingface_hub
datasets==2.20.0
accelerate
jupyter
pillow==10.2.0
peft
timm==0.9.16
sentencepiece~=0.1.99
openai
natsort
pytest
matplotlib
scikit-learn
scipy
numpy
einops
einsum
fvcore
h5py
twine
sentencepiece
protobuf
ftfy
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
mediapipe
bitsandbytes==0.45.0
qwen-vl-utils
tensorflow-cpu==2.11.0
jaxtyping
gradio
xformers==0.0.27
invisible-watermark
